/* h1{
    color:rgb(91, 8, 48);
}
p{
    color:rgb(61, 5, 31);
}
button{
    color:rgb(251, 43, 121);
}
body{
    background-color:#F5B0CB;
}
button{
    background-color:rgb(129, 30, 77);
} */
 /* #box{
    background-color:blue;
 } */
/* .heading {
    color:red;
  }
button{
    background-color:green;
} */
 /* p{
    text-align:center
 } */
  /* h1{
    text-decoration:violet dotted underline;
  } */
   /* h1{
    font-weight:900;
   } */
    /* #one{
        font-family:Arial, Helvetica, sans-serif;
    }
    #two{
        font-family:'Times New Roman', Times, serif
    } */
     /* h1{
        text-align: center;
        text-transform: capitalize;
     } */
      /* p{
        font-family:'Times New Roman', Times, serif
      } */
       /* #outer{
        font-size:25px;
       }
       #inner{
        font-size:10px;
       } */
        /* div{
            height:100px;
            width:100px;
            background-color:green;
            border-radius:50%;
        } */
          /* *{
            border:0;
            margin:0;
            color:white 
            
         }
         #navbar{
            height:60px;
            background-color:#0f1111;
         }
         #logo{
            font-size:25px;
            color:#f08804;
         }
         button{
            background-color:#f08804;
         }
         a{
            margin-right:200px;
            text-decoration:none;
         } 
         .contentBox{
            height:100px;
            width:100px;
            border: 2px solid black;  
            display:inline-block;
         }
        #content{
            height:7000px;
        }
         footer{
            background-color: #0f1111;
            text-align:center;
        
         }
         */
         /* #box1{
            height:100px;
            width: 100px;
            background-color:pink;
            font-size:10px;
         }
         #box2{
            height:50px;
            width:30%;
            background-color: purple;
            font-size:2em;
         } */
          /* div{
            height:100px;
            width:100px;
            background-color:aqua;
            border:2px solid black;
            display:inline-block;
          }
          #box2{
            position:relative;
          }
          body{
            background-image:url("car_photo.jpg");
            background-size:cover;
          } */
           /* div{
            height:100px;
            width:100px;
       
            background-size: cover;
            position:fixed;
            right:0px;
           } */
            /* body{
               text-align: center;
            }
            div{
               height:100px;
               width:100px; 
               display:inline-block;
               border:2px solid black;
            }
            #container{
               width:800px;
               height:200px;
               display:flex;
               justify-content:;
               
            }
            #box1{
               background-color:cyan;
            }
            #box2{
               background-color:pink;
            }
            #box3{
               background-color:darkkhaki;
            }
            #box4{
               background-color: indianred;
            }
            #box5{
               background-color:slateblue;
            } */
             /* ul{
               background-color: pink;
               display: flex;
               justify-content: space-evenly;
             }
             a{
               text-decoration: none;
               color:red;
             }
             li{
               list-style-type: none;
               display: inline;
             }
             .outer{
               height:400px;
               width:400px;
               background-color: blue;
               display: flex;
               justify-content:center;
               align-items: center;
             }
             .inner{
               height:100px;
               width:100px;
               background-color: aqua
             }
              */
              /* div{
               height: 100px;
               width: 100px;
               background-color: pink;
              }
              @media(max-width:300px){}
              div{
               background-color:green;
              }
              @media(min-width:300px)and(max-width:400px){
               background-color: pink;
               @media()
              }
             */
             /* div{
               height:100px;
               width:100px;
               background-color: cyan;
               border:2px solid black;
               transition-property: font-size;
               transition-duration: 2s;
               transition-timing-function: step-start;s
             }
             div:hover{
               background-color: blue;
               color: white;
               font-size: 20px;
             }
             div:active{
               background-color: pink;
             }
              */
              .loader{
               width:100px;
               height:100px;
               border-radius: 50%;
               border: 20px solid blue;
               border-top: 20px solid black;
               
               animation: spinAnimate 3s ease-in 0s infinite normal;
              }
              @keyframes spinAnimate {
               from{
               transform:rotate(0deg);
              }
              to{
               transform:rotate(360deg);
              }
            }

             

             



   
         