*{
    margin:0;
    font-family:Arial;
    border:border-box; 
}
.navbar{
    height:60px;
    background-color: #0f1111;
    color:white;
}
.nav.logo{
    height:50px;
    width:100px;
}
.logo{
    height:50px;
    background-image:url("images.png");
    width:100%;
    background-size:contain;
    background-repeat: no-repeat;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover{
    border:1.5px solid white;
}
